annotated-types==0.7.0
cbor2==5.6.5
crytic-compile==0.3.10
cytoolz==1.0.1
eth-hash==0.7.1
eth-typing==5.2.1
eth-utils==5.3.0
future==1.0.0
importlib_resources==6.4.5
intervaltree==3.1.0
lark==1.2.2
-e git+https://git@github.com/b0-n0-b0/manticore-master_thesis.git@93d620c7c2c0d63b133e558256c41b0b06e9827d#egg=manticore
packaging==25.0
ply==3.11
prettytable==3.11.0
protobuf==3.20.3
pycryptodome==3.23.0
pydantic==2.10.6
pydantic_core==2.27.2
pydot==4.0.1
pyevmasm==0.2.3
pyparsing==3.1.4
pysha3==1.0.2
PyYAML==6.0.2
rlp==4.1.0
solc-select==1.1.0
sortedcontainers==2.4.0
toolz==1.0.0
typing_extensions==4.13.2
wasm==1.2
wcwidth==0.2.13
z3-solver==4.15.0.0
zipp==3.20.2
